*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.3rem;
  outline: none;
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* outline: solid 1px #f00; */
}
*::-webkit-scrollbar {
  display: none;
}
/* ----------input style none----------- */
input[type="number"]::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  opacity: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  --date-gap: 2px;
  --bord-gap: 5px;
  --main-gap: 5px;
  --main-width: 260px;
  --main-height: 400px;
  --add-member-height: 40px;
  --add-m-win-hei: 320px;
  --day-info-width: 250px;
  --day-info-height: 380px;
  --day-info-name-height: 60px;
  --card-height: 280px;
  --ad-gap: 50px;
  --winWidth: 100vw;
  --winHeight: 100vh;
  /* ------------------------- background color ------------------------- */

  --background1: radial-gradient(65% 100% at 50% 0%, #18005b 0%, #000000 100%),
    radial-gradient(
      circle at 30% 45%,
      #ff0000 0%,
      #ff0000 5%,
      #ffff00 5%,
      #ffff00 10%,
      #00ff00 10%,
      #00ff00 15%,
      #00ffff 15%,
      #00ffff 20%,
      #0000ff 20%,
      #0000ff 30%,
      #ff00ff 30%,
      #ff00ff 40%,
      #ff0000 40%
    ),
    radial-gradient(
      circle at 50% 0%,
      #ff0000 0%,
      #ff0000 5%,
      #ffff00 5%,
      #ffff00 10%,
      #00ff00 10%,
      #00ff00 20%,
      #00ffff 20%,
      #00ffff 30%,
      #0000ff 30%,
      #0000ff 40%,
      #ff00ff 40%,
      #ff00ff 50%,
      #ff0000 50%
    ),
    conic-gradient(
      from 15deg at 20% 420%,
      #ff0000 0deg,
      #ff0000 55deg,
      #ffff00 60deg,
      #ffff00 120deg,
      #00ff00 120deg,
      #00ff00 180deg,
      #00ffff 180deg,
      #00ffff 240deg,
      #0000ff 240deg,
      #0000ff 300deg,
      #ff00ff 310deg,
      #ff00ff 360deg,
      #ff0000 360deg
    );
  --background1-need: screen, multiply, multiply, normal;
  --background2: radial-gradient(circle at 50% 50%, #ffffff 0%, #000000 100%),
    conic-gradient(red, yellow, lime, aqua, blue, fuchsia, red);
  --background2-need: color-dodge, normal; /*background-blend-mode:*/

  --background3: linear-gradient(121.28deg, #31bc00 0%, #000000 100%),
    linear-gradient(180deg, #5200ff 0%, #1a0050 100%),
    linear-gradient(341.1deg, #ff0000 7.52%, #1700a4 77.98%),
    radial-gradient(49.82% 80.51% at 49.82% 50%, #5a0069 0%, #ff3d00 100%),
    radial-gradient(50% 72.12% at 50% 50%, #eb00ff 0%, #110055 100%);
  --background3-need: color-dodge, overlay, difference, difference, normal;

  --background4: linear-gradient(235deg, #ffffff 0%, #000f25 100%),
    linear-gradient(180deg, #6100ff 0%, #000000 100%),
    linear-gradient(
      235deg,
      #ffa3ac 0%,
      #ffa3ac 40%,
      #00043c calc(40% + 1px),
      #00043c 60%,
      #005d6c calc(60% + 1px),
      #005d6c 70%,
      #00c9b1 calc(70% + 1px),
      #00c9b1 100%
    ),
    linear-gradient(
      125deg,
      #ffa3ac 0%,
      #ffa3ac 40%,
      #00043c calc(40% + 1px),
      #00043c 60%,
      #005d6c calc(60% + 1px),
      #005d6c 70%,
      #00c9b1 calc(70% + 1px),
      #00c9b1 100%
    );
  --background4-need: soft-light, screen, darken, normal; /*background-blend-mode:*/

  --background5: radial-gradient(
      100% 135% at 90% 0%,
      #00ff66 0%,
      #00ff66 33%,
      #00ffff calc(33% + 1px),
      #00ffff 75%,
      #eb00ff calc(75% + 1px),
      #eb00ff 100%
    ),
    radial-gradient(
      circle at 60% 110%,
      #00ff66 0%,
      #00ff66 33%,
      #00ffff calc(33% + 1px),
      #00ffff 66%,
      #eb00ff calc(66% + 1px),
      #eb00ff 100%
    ),
    radial-gradient(
      100% 225% at 0% 0%,
      #00ff66 0%,
      #00ff66 33%,
      #00ffff calc(33% + 1px),
      #00ffff 66%,
      #eb00ff calc(66% + 1px),
      #eb00ff 100%
    );
  --background5-need: multiply, multiply, normal; /*background-blend-mode:*/
}
body {
  position: relative;
  width: var(--winWidth);
  min-height: var(--winHeight);
  display: flex;
  align-items: center;
  flex-direction: column;
  touch-action: none;
  -ms-touch-action: none;
  overflow: hidden;
}
#fullScreen {
  position: fixed;
  width: var(--winWidth);
  height: var(--winHeight);
  top: 0;
  left: 0;
  transition: ease-in-out 0.3s;
  z-index: 1000;
}
#fullScreen #welcome-user {
  position: relative;
  width: 100%;
  height: 100%;
  user-select: auto;
  color: #fff;
  font-weight: 500;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000;
}
#fullScreen #welcome-user::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 400%;
  top: -400%;
  left: 0;
  background: #000000;
}
#fullScreen #welcome-user h1 {
  font-size: 2.5rem;
}
#fullScreen #welcome-user .nm {
  font-size: 1.5rem;
  color: #00ffe1;
}
#fullScreen #welcome-user span {
  position: absolute;
  width: 100px;
  height: 100px;
  transform: translateY(140px);
  display: grid;
  place-items: center;
}

#fullScreen div span::after {
  position: absolute;
  content: "";
  width: 70%;
  height: 70%;
  border-left: 4px solid #fff;
  border-top: 4px solid #fff;
  border-radius: 0 10px 0 10px;
  transform: rotate(225deg);
  animation: down linear 1s infinite;
}

#fullScreen div #d1 {
  margin-top: calc(var(--ad-gap) * 1);
}
#fullScreen div #d2 {
  margin-top: calc(var(--ad-gap) * 2);
}
#fullScreen div #d3 {
  margin-top: calc(var(--ad-gap) * 3);
}
#fullScreen div #d4 {
  margin-top: calc(var(--ad-gap) * 4);
}
#fullScreen div #d5 {
  margin-top: calc(var(--ad-gap) * 5);
}
#fullScreen div #d2::after {
  animation-delay: 0.2s;
}
#fullScreen div #d3::after {
  animation-delay: 0.4s;
}
#fullScreen div #d4::after {
  animation-delay: 0.6s;
}
#fullScreen div #d5::after {
  animation-delay: 0.8s;
}
@keyframes down {
  0% {
    border-color: #fff;
    margin-top: 0px;
  }
  20% {
    border-color: #fff;
    margin-top: var(--ad-gap);
  }
  20.1%,
  100% {
    border-color: #222;
  }
}
#logout {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 35px;
  height: 35px;
  font-weight: 600;
  background: #ddd;
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: 10px;
  background: #0088ff;
  box-shadow: inset 0 0 3px #00000047, inset 0 3px 3px #ffffff6c,
    inset 0 -3px 3px #00000033, 0 0 3px #00000088;
    outline: solid 1px #0088ff;
  z-index: 1;
}
#logout i {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  transform: translateX(2px);
  place-items: center;
}
#logout i::before {
  font-size: 1.1rem;
  text-shadow: 0 0 1px #000;
  color: #fff;
}
#copyright {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #999;
  font-size: 0.5rem;
  z-index: 1;
}
#copyright i {
  font-size: 0.6rem;
  color: #5edfff;
}
#logout:hover {
  font-size: 0.45rem;
}
#month-changes {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#month-changes #left-month,
#month-changes #right-month {
  position: relative;
  width: 35px;
  height: 35px;
  margin: 5px;
  display: grid;
  place-items: center;
  background: #0088ff;
  box-shadow: inset 0 -2px 3px #aaa, inset -2px 0 3px #aaa, inset 0 2px 3px #eee,
    inset 2px 0 3px #eee;
  border-radius: 20px;
  cursor: pointer;
}
#month-changes #left-month i,
#month-changes #right-month i {
  transform: translateY(1px);
}
#month-changes #left-month i {
  transform: translateY(1px) rotate(180deg);
}
#month-changes #left-month i::before,
#month-changes #right-month i::before {
  font-size: 1.4rem;
  color: #000;
}
#month-changes #left-month.hover i::before,
#month-changes #right-month.hover i::before {
  font-size: 1.3rem;
}
#month-changes #month-year-title {
  position: relative;
  width: 230px;
  height: 35px;
  border: solid 1px #505050;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px #919191, inset 1px 0 3px #919191;
}
#month-changes #month-year-title span {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}
#month-changes #month-year-title span #month-input,
#month-changes #month-year-title span #year-input {
  position: relative;
  width: 140px;
  text-align: center;
  outline: none;
  border: none;
  background: transparent;
}
#month-changes #month-year-title span #year-input {
  width: 90px;
}
section {
  position: relative;
  display: grid;
  width: calc(100% - var(--bord-gap));
  margin: var(--bord-gap);
  grid-template-columns: repeat(7, 10fr);
}
section div {
  position: relative;
  width: calc(100% - var(--date-gap) * 2);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--date-gap);
}

section .days {
  background: #c9c9c9;
  box-shadow: inset 0 0 5px #ffffff, inset 0 0 2px #000000;
  border-radius: calc(var(--date-gap) * 2);
  font-weight: 600;
  background-position: center;
  background-size: 100%;
  cursor: pointer;
}
section .days.odd {
  background: #bbbbbb;
}
.days.glow {
  color: #000;
  font-weight: 900;
  text-shadow: 0 0 1px #fff, 0 0 3px #fff;
  overflow: hidden;
}
section .days.tuday {
  background: #0088ff;
  box-shadow: 0 0 1px #000000, 0 0 5px #000000, inset 0 0 2px #000,
    inset 0 0 3px #000;
  outline: solid 1px #000;
  border-width: 1px;
  border-style: dashed;
  border-color: #00ddff #00525e #00525e #00ddff;
}
section .days.glow::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 20px;
  transform: rotate(45deg) translate(-40px, -40px);
  top: 5px;
  background: rgba(255, 255, 255, 0.4);
  animation: ani-glow 8s linear infinite;
}
@keyframes ani-glow {
  0% {
    transform: rotate(45deg) translate(200px, 200px);
  }
  10% {
    transform: rotate(45deg) translate(-40px, -40px);
  }
  10.0001% {
    transform: rotate(45deg) translate(200px, 200px);
  }
  100% {
    transform: rotate(45deg) translate(200px, 200px);
  }
}
section .days.tuday::after {
  content: "";
  position: absolute;
  width: calc(100% - 4px);
  height: calc(50% - 2px);
  border-radius: 5px;
  top: 2px;
  background: rgba(255, 255, 255, 0.2);
}
section .day-name {
  position: relative;
  height: 40px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #000;
  text-shadow: 0 0 1px #000;
}
section .days.bg0 {
  background: var(--background1);
  background-blend-mode: var(--background1-need);
}
section .days.bg1 {
  background: var(--background2);
  background-blend-mode: var(--background2-need);
}
section .days.bg2 {
  background: var(--background3);
  background-blend-mode: var(--background3-need);
}
section .days.bg3 {
  background: var(--background4);
  background-blend-mode: var(--background4-need);
}
section .days.bg4 {
  background: var(--background5);
  background-blend-mode: var(--background5-need);
}

#add-member-floting-window {
  position: fixed;
  width: calc(var(--main-width) + 20px);
  height: calc(var(--add-m-win-hei) + 20px);
  display: grid;
  grid-template-rows: 25fr 6fr 5fr;
  padding: 10px;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s linear,
  transform 0.3s cubic-bezier(1, 0.05, 1, -0.14);
  top: calc(50% - (var(--add-m-win-hei) + 10px) / 2);
  z-index: 11;
}
#add-member-floting-window.active {
  transform: scale(1);
  opacity: 1;
  transition: opacity 0.3s linear,
  transform 0s cubic-bezier(1, 0.05, 1, -0.14);
}

#add-member-floting-window::before {
  width: 0%;
  height: 0%;
}
#add-member-floting-window::after {
  width: 0%;
  height: 0%;
}
#add-member-floting-window.active::before {
  position: absolute;
  content: "";
  width: 10000%;
  height: 10000%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.4);
  filter: blur(3px);
  z-index: -3;
}
#add-member-floting-window.active::after {
  position: absolute;
  content: "";
  width: 100%;
  border-radius: 5px;
  height: 100%;
  background: #f0f0f0;
  z-index: -2;
  box-shadow: 0 0 3px #000, 0 0 8px #000;
}
#add-member-floting-window span {
  display: none;
}
#add-member-floting-window.active span {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  outline: solid 1px #777;
  grid-template-rows: 5fr 6fr 6fr 15fr;
  overflow: hidden;
}
span #add-new-input,
span #input-why-special,
span #input-person-name,
span #input-note {
  position: relative;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  margin: 4px;
  padding: 0 5px;
  border: none;
  text-align: left;
  font-size: 0.9rem;
}
span #add-new-input {
  text-align: center;
  font-weight: 900;
  background: #eee;
}
span #input-why-special,
span #input-person-name,
span #input-note {
  box-shadow: inset 0 2px 2px #999, inset 2px 0 2px #999;
  font-size: 0.8rem;
}
span #input-note {
  text-align: justify;
  resize: none;
  padding: 5px;
}
#add-member-floting-window #color-pickeer {
  position: relative;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  inset: 4px;
  display: grid;
  grid-template-columns: repeat(5, 10fr);
}
#add-member-floting-window #color-pickeer span {
  position: relative;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  inset: 3px;
  border-radius: 3px;
  cursor: pointer;
}
#color-pickeer span.select::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  box-shadow: 0 0 1px #000000, 0 0 5px #000000;
  border-color: #070051 #030025 #030025 #070051;
}
#color-pickeer span.select::before {
  content: "";
  position: absolute;
  width: calc(100% - 4px);
  height: calc(60% - 4px);
  border-radius: 3px;
  inset: 2px;
  background: rgba(255, 255, 255, 0.3);
}
#add-member-floting-window #color-pickeer span:nth-child(1) {
  background: var(--background1);
  background-blend-mode: var(--background1-need);
}
#add-member-floting-window #color-pickeer span:nth-child(2) {
  background: var(--background2);
  background-blend-mode: var(--background2-need);
}
#add-member-floting-window #color-pickeer span:nth-child(3) {
  background: var(--background3);
  background-blend-mode: var(--background3-need);
}
#add-member-floting-window #color-pickeer span:nth-child(4) {
  background: var(--background4);
  background-blend-mode: var(--background4-need);
}
#add-member-floting-window #color-pickeer span:nth-child(5) {
  background: var(--background5);
  background-blend-mode: var(--background5-need);
}
#add-member-floting-window #add-member-button {
  position: relative;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  inset: 2px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#add-member-floting-window #add-member-button span,
#add-member-floting-window #add-member-button #close {
  position: relative;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  inset: 4px;
  border-radius: 5px;
  background: #a0a0ff;
  display: grid;
  box-shadow: 0 0 2px #000;
  place-items: center;
  cursor: pointer;
  box-shadow: inset 0 0 3px #00000047, inset 0 3px 3px #ffffff6c,
  inset 0 -3px 3px #00000033, 0 0 3px #00000088;
  outline: solid 1px #0000ff;
}
#add-member-floting-window #add-member-button #close {
  background: #f00;
  outline: solid 1px #f00;
  font-size: 0.6rem;
  font-weight: 800;
  display: grid;
  place-items: center;
  text-shadow: 0 0 1px #000;
  color: #fff;
}
#add-member-floting-window #add-member-button #close.hover {
  font-size: 0.55rem;
}
#add-member-floting-window #add-member-button span p {
  position: absolute;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  color: #fff;
  text-shadow: 0 0 1px #000;
}
#add-member-floting-window #add-member-button span p i {
  display: grid;
  place-items: center;
  margin-right: 7px;
}
#add-member-floting-window #add-member-button span p i::before {
  font-size: 0.8rem;
  text-shadow: 0 0 1px #000;
}
#add-member-floting-window #add-member-button span.hover p {
  font-size: 0.65rem;
}
#add-member-floting-window #add-member-button span.hover p i::before {
  font-size: 0.7rem;
}

/* ----------- tab ------------ */
main {
  position: fixed;
  width: calc(var(--main-width) - var(--main-gap) * 2);
  max-height: calc(var(--main-height) - var(--main-gap) * 2);
  padding: var(--main-gap);
  bottom: -0;
  background: #fff;
  border-top-right-radius: var(--main-gap);
  border-top-left-radius: var(--main-gap);
  box-shadow: 0 0 5px #000;
  display: grid;
  grid-row-gap: 5px;
  transition: ease-in-out 0.3s;
  z-index: 2;
}
main #open-tab {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 30px;
  top: -30px;
  left: calc((var(--main-width) - var(--main-gap) * 2) / 2 - 25px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  box-shadow: 0 -2px 5px #00000088;
  z-index: 1;
  cursor: pointer;
}
main #open-tab.active {
  box-shadow: 0 -5px 5px #00000044;
}

main #open-tab::before {
  content: "<";
  position: absolute;
  transform: scaleX(1.5) rotate(90deg);
  color: #ff9000;
  text-shadow: 0 0 1px #000, 0 0 2px #000;
  font-size: 1.8rem;
}
main #open-tab.active::before {
  transform: scaleX(1.5) rotate(270deg);
}
main #open-tab::after {
  content: "<";
  position: absolute;
  transform: scaleX(1.5) rotate(90deg) translateX(30px);
  opacity: 0.1;
  color: #ff9000;
  animation: anim-tab ease-in-out 2s infinite;
  font-size: 1.8rem;
}
main #open-tab.active::after {
  opacity: 0;
  animation: none;
  transform: scaleX(1.5) rotate(270deg) translateX(30px);
}
@keyframes anim-tab {
  from {
    transform: scaleX(1.5) rotate(90deg) translateX(30px);
    opacity: 0.1;
  }
  to {
    transform: scaleX(1.5) rotate(90deg) translateX(0);
    opacity: 1;
  }
}
main #open-new-m-t {
  position: relative;
  width: 100%;
  height: var(--add-member-height);
}
main #open-new-m-t p {
  position: relative;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin: 5px;
  background: #0000ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
  text-shadow: 0 0 1px #000;
  outline: solid 1px #0000ff;
}
main #open-new-m-t p::before,
main #open-new-m-t p::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff33 #00000033 #00000033 #00000033;
  border-radius: 6px;
}
main #open-new-m-t p::after {
  border-width: 3px;
}
main #open-new-m-t.hover p {
  font-size: 0.75rem;
}
main #member-list {
  position: relative;
  max-height: calc(
    var(--main-height) - (var(--main-gap) * 5 + var(--add-member-height))
  );
  border: solid 1px #bbb;
  width: 100%;
}

main #member-list #scroll {
  position: relative;
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
main #member-list .members {
  position: relative;
  height: 0;
  border-radius: 3px;
  margin: 2px;
  display: grid;
  background: linear-gradient(180deg, #ccc, #bbb);
  grid-template-columns: 18fr 6fr 6fr;
  box-shadow: inset 0 3px 3px #00000020, inset 0 -3px 3px #ffffff57,
    inset 0 0 3px #00000020;
  transition: ease-in-out 0.3s;
}
main #member-list .members::before,
main #member-list .members::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #00000033 #00000033 #ffffff33 #00000033;
  border-radius: 6px;
}
main #member-list .members::after {
  border-width: 3px;
  border-color: #00000033 #00000022 #ffffff22 #00000022;
}
main #member-list .members:nth-child(odd) {
  background: linear-gradient(180deg, #bbb, #aaa);
}
main #member-list .members span {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 20fr 15fr;
}
main #member-list .members span p {
  font-size: 0.8rem;
  color: #000000bb;
}
main #member-list .members span p,
main #member-list .members span small {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
  display: flex;
  padding: 0 5px;
  align-items: flex-end;
  font-weight: 700;
  transform: translateY(2px);
}
main #member-list .members span small {
  font-size: 0.6rem;
  padding: 0 7px;
  font-weight: 700;
  align-items: flex-start;
  transform: translateY(-1px);
}
.members .delete,
.members .edit {
  position: relative;
  width: calc(100% - 20px);
  height: calc(100% - 12px);
  inset: 6px 10px;
  font-weight: 600;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.members .delete::before,
.members .edit::before,
.members .delete::after,
.members .edit::after {
  content: "";
  position: absolute;
  width: 105%;
  height: 105%;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff33 #00000022 #00000033 #00000022;
  border-radius: 8px;
}
.members .delete::after,
.members .edit::after {
  border-width: 4px;
}
.members .delete {
  margin-right: 8px;
  outline: solid 1px #f00;
  background: #f00;
}
.members .edit {
  margin: 0 4px;
  outline: solid 1px #0088ff;
  background: #0088ff;
}

.members .delete i,
.members .edit i {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.members .delete i::before,
.members .edit i::before {
  font-size: 1rem;
  color: #fff;
  text-shadow: 0 0 1px #000;
}
.members .delete.hover i::before,
.members .edit.hover i::before {
  font-size: 0.9rem;
}

/* ---------- alert box ------------ */
#delete-alert {
  position: fixed;
  width: var(--winWidth);
  height: var(--winHeight);
  background: rgba(0, 0, 0, 0);
  display: grid;
  place-items: center;
  transform: scale(0);
  transition: transform 0.3s linear,
    background 0s cubic-bezier(1, 0.05, 1, -0.14);
  z-index: 12;
}
#delete-alert.active {
  transform: scale(1);
  background: rgba(0, 0, 0, 0.5);
  transition: transform 0.3s linear,
    background 0.3s cubic-bezier(1, 0.05, 1, -0.14);
}

#delete-alert #delete-box {
  position: relative;
  width: 300px;
  height: 200px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px #000;
}
#delete-alert #delete-box span {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 5px 0;
  border-radius: 100%;
  border: solid 3px #f00;
  display: grid;
  place-items: center;
}
#delete-alert #delete-box span i {
  padding-left: 3px;
}
#delete-alert #delete-box span i::before {
  color: #f00;
  text-shadow: 0 0 1px #00000050;
}
#delete-alert #delete-box span p::before {
  transform: rotate(-45deg);
}
#delete-alert #delete-box h3 {
  font-size: 0.9rem;
  margin: 5px;
}
#delete-alert #delete-box pre {
  font-size: 0.6rem;
  margin: 8px;
  color: #5c5c5c;
}
#delete-alert #delete-box .can-dlt {
  position: relative;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 15px;
  margin: 5px;
}
#delete-alert #delete-box .can-dlt p {
  font-size: 0.7rem;
  width: 80px;
  height: 30px;
  font-weight: 700;
  display: grid;
  place-items: center;
  color: #fff;
  box-shadow: inset 0 0 3px #00000047, inset 0 3px 3px #ffffff6c,
    inset 0 -3px 3px #00000033, 0 1px 2px #00000077;
  border-radius: 5px;
}
#delete-alert #delete-box .can-dlt p.hover {
  font-size: 0.65rem;
}
#delete-alert #delete-box .can-dlt p:first-child {
  background: #a1a1a1;
  border: solid 1px #a1a1a1;
}
#delete-alert #delete-box .can-dlt p:last-child {
  background: #f00;
  border: solid 1px #f00;
}

#logout-alert {
  position: fixed;
  width: var(--winWidth);
  height: var(--winHeight);
  background: rgba(0, 0, 0, 0);
  display: grid;
  place-items: center;
  transform: scale(0);
  transition: transform 0.3s linear,
    background 0s cubic-bezier(1, 0.05, 1, -0.14);
  z-index: 12;
}
#logout-alert.active {
  transform: scale(1);
  background: rgba(0, 0, 0, 0.5);
  transition: transform 0.3s linear,
    background 0.3s cubic-bezier(1, 0.05, 1, -0.14);
}

#logout-alert #logout-box {
  position: relative;
  width: 300px;
  height: 200px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px #000;
}
#logout-alert #logout-box span {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 100%;
  border: solid 3px #0088ff;
  display: grid;
  place-items: center;
}
#logout-alert #logout-box span i {
  padding-left: 6px;
}
#logout-alert #logout-box span i::before {
  color: #0088ff;
  text-shadow: 0 0 1px #00000050;
}
#logout-alert #logout-box span p::before {
  transform: rotate(-45deg);
}
#logout-alert #logout-box h3 {
  font-size: 0.9rem;
  margin: 10px;
}
#logout-alert #logout-box small {
  font-size: 0.6rem;
  padding: 2px;
  color: #00b800;
  text-align: center;
}
#logout-alert #logout-box .can-dlt {
  position: relative;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 15px;
  margin: 5px;
}
#logout-alert #logout-box .can-dlt p {
  font-size: 0.7rem;
  width: 80px;
  height: 30px;
  font-weight: 700;
  display: grid;
  place-items: center;
  color: #fff;
  box-shadow: inset 0 0 3px #00000047, inset 0 3px 3px #ffffff6c,
    inset 0 -3px 3px #00000033, 0 0 3px #00000088;
  border-radius: 5px;
}
#logout-alert #logout-box .can-dlt p.hover {
  font-size: 0.65rem;
}
#logout-alert #logout-box .can-dlt p:first-child {
  background: #a1a1a1;
  outline: solid 1px #a1a1a1;
}
#logout-alert #logout-box .can-dlt p:last-child {
  background: #0088ff;
  outline: solid 1px #0088ff;
}
